* {
  box-sizing: border-box;
}
.clickImg {
  height: 8rem;
}

.img-container{
  margin: auto;
  padding: 0.2rem;
  background-color: rgba(0, 0, 255, 0.852);
  border: .1rem solid transparent;
  border-radius: 0.3em;
  width: 90%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0.2rem 0.2rem 0.5rem red;
}

@media screen and (max-width: 992px) { 
  .img-container{
    width: 100%;
  }
 }

.img-container:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem red;
  transform: scale(1.03);
}

img{
  display: block;
  margin: auto;
  height: 100%;
  max-width: 100%;
}